[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.1"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"
django-recaptcha = "==2.0.6"
django-resized = "*"
django-cleanup = "*"
pillow = "*"
django-embed-video = "*"
django-cookie-consent = "*"
django-jet = "*"

[requires]
python_version = "3.8"
