{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="/static/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <title>Contact Me!</title>
  <link rel="shortcut icon" href="{%  static 'img/favicon.jpg' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
  <!-- START HERE -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top py-4" id="main-nav">
    <div id="main-nav" class="container">
      <a href="{% url 'home' %}" class="navbar-brand">
        <img src="/static/img/Logo2.png" width="50" height="50" alt="">
        <h3 class="d-inline align-middle" style="font-family: cursive;">English Tutoring</h3>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">Go back to the Homepage</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="home-section-contact">
    <div class="dark-overlay vh-100">
      <div class="contact-inner container">

            <div class="shiftedContent">
                <div id="contactform" style="display:flex;justify-content:center;align-items:center;" class="card text-white card-form">
                  <div id="contactformheader" class="">
                    <h3 id="contactformheading" class="text-light font-weight-bolder">Get in touch!</h3>
                  </div>
                  <div class="card-body">
                    <p class="text-light font-weight-bold">Please fill out this form and I will get in contact with you as soon as possible.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="formRow py-2">
                          Name: {{ form.name }}
                        </div>
                        <div class="formRow py-2">
                          Email: {{ form.from_email }}
                        </div>
                        <div class="formRow py-2">
                          Lesson type: {{ form.lessontype }}
                        </div>
                        <div class="formRow py-2">
                          What is your current English level?* {{ form.languagelevel }}
                        </div>
                        <div class="formRow py-2">
                          Lesson length: {{ form.lessonduration }}
                        </div>
                        <div class="formRow py-2">
                          Which lesson package: {{ form.lessonpackage }}
                        </div>

                      <div class="formRow">
                        <div class="leftItem">
                            Other things you would like me to know:
                        </div>
                      </div>
                      <div  class="formRow">
                        <div  class="rightItem">
                            {{ form.message }}
                        </div>
                      </div>
                      <div class="formRow py-2">
                        *<small>If you dont know you can take a free test right here:</small>  <a id="contactformbutton"  class="btn btn-sm" href="https://www.cambridgeenglish.org/test-your-english/" role="button">Click here!</a>
                      </div>
                      <div  class="formRow">
                        <div  class="rightItem">
                            {{ form.captcha }}
                        </div>
                      </div>
                      <div class="formRow">
                            <div class="form-actions">
                              <button href="#contactformmodal" id="contactformbutton" class="btn-lg m-3 trigger-btn" data-toggle="modal" type="submit" >Send</button>

                              <div id="contactformmodal" class="modal fade">
                                <div class="modal-dialog modal-confirm">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <div class="icon-box">
                                        <i class="material-icons">&#xE876;</i>
                                      </div>				
                                      <h4 class="modal-title w-100">Awesome!</h4>	
                                    </div>
                                    <div class="modal-body">
                                      <p class="text-center">Your booking has been confirmed. Check your email for detials.</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div> 
                      </div>
        </div>
      </div>
    </div>
  </header>
  

  <!--Footer-->
<footer id="main-footer" class="text-light">
    <div class="container">
      <div class="row">
        <div class="col text-center py-4">
          <img src="/static/img/Logo2.png" width="100" height="100"  alt="" class="img-fluid">        <h3>English Tutoring</h3>
          <p>Copyright &copy; <span id="year"></span></p>
          <a href="{% url 'impressum' %}">Impressum</a> | <a href="{% url 'datenschutz' %}">Datenschutz</a>
        </div>
      </div>
    </div>
  </footer>
  

  <!--<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script> -->

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script> -->

  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script> -->
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>